* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-image: url('background.jpg');
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  position: absolute;
  top: 10px;
  left: 720px;
  height: 5%;
  width: 30%;
  font-family:monospace;
  font-size: 40;
  text-align: center;
  font-style:oblique;
  margin: 1em auto;
  justify-content: center;
  display: flex;
  color: lightgoldenrodyellow;
}

#input-section {
  position:fixed;
  top: 200px;
  width: 30%;
  height: 10%;
  display:flexbox;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1em auto;
  column-gap: 1em;
  border-radius: 20px;
  border: none;
}

#guess-area {
  width: 400px;
  height: 50px;
  padding: 20px;
  text-transform: uppercase;
  font-family:sans-serif;
  font-size: 16;
  border-radius: 40px;
  border: none;
  outline: none; 
  text-align: center;
  font-weight: bold;
}

#guess-area:focus{
  outline: 2px solid lightgreen;
}

#status {
  position: absolute;
  top: 280px;
  width: 25%;
  height: 65%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  row-gap: 1em;
  align-items:center;
  color: #fff;
  font-weight:bolder;
  font-size:x-large;
}

#guess-history {
  position: relative;
  line-height: 1.5em;
  margin-bottom: 1em;
  display: flex;
  flex-flow: column;
  row-gap: 1em;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  column-gap: 1em;
}

.box {
  position: relative;
  height: 40px;
  width: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid wheat;
  border-radius: 0.6em;
  font-weight:bolder;
}

.green {
  background-color: rgb(171, 220, 153);
}

.yellow {
  background-color: hsl(42, 98%, 77%);
}

#color-meaning {
  font-family: "Sansation Light";
  font-size: 15;
  font-weight:bold;
  display: block;
  border: 1px solid black;
  background-color: F6FAD0;
  border-radius: 3em;
  width: 25%;
  padding: 3%;
  position: absolute;
  top: 20%;
  left:70%;
}

#color-meaning * {
  align-items: center;
  margin-bottom: 1em;
}

.gif {
  position: relative;
  bottom: 50px; 
  height: 200px;
  width: 250px;
}

.guess-button{
  position: relative;
  /* top: 30px;          */
  width: 100px;
  height: 50px;
  font-size:16;
  font-family: 'Courier New', Courier, monospace;
  background: transparent;
  color: #fff;
  border-color: #fff;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
  border: 2px solid wheat;
  border-radius: 80px;  
  text-align: center;
  justify-content: center;
}
.guess-button:hover{
  background-color: #03e9f4;
color: #fff;
box-shadow: 0px 0px 5px #03e9f4, 0px 0px 25px #03e9f4, 0px 0px 50px #03e9f4, 0px 0px 100px #03e9f4;
-webkit-box-reflect: below 1px linear-gradient(transparent, #0005); 
}

#score{
  position: absolute;
  top: 700px;
  left: 1380px;
  color: #fff;
  font-weight:bolder;
  font-size:xx-large;
}
#correct-word{
  position: absolute;
  top: 780px;
  left: 1380px;
  color: #fff;
  font-weight:bolder;
  font-size:xx-large;
}

#chance-left{
  position: relative;
  /* flex: staR; */
}
